body {
  background-color:#cccccc;
  color:green;
  text-align:center;
}
.column p a {
  color: salmon;
}
.column img {
  max-width: 100%;
  border-radius: 50%;
}
.column h3{
  color: red;
  font-style: italic;
}
@media screen and (min-width: 768px) {
  .column {
    float: left;
    width: 20%;
    margin: 1.25%;
    padding: .5%;
    border-color: black;
    border-width: 1.25%;
    border-style: dashed;
  }
}
@media screen and (max-width: 767px) {
  .column {
    margin-top: 1.25%;
    padding: .5%;
    border-color: black;
    border-width: 1.25%;
    border-style: dashed;
  }
}
